* {
    margin: 0;
    padding: 0;
    font-family: AdobeInvisFont, Courier, Verdana;
}

.full-center {
    width: 1366px;
    margin: 0 auto;
}


/* a,
a:visited,
a:hover,
a:focus,
a:active {
	color: rgb(255, 255, 255);
	text-decoration: none;
} */

body {
    background: url(../img/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: color;
    background-color: rgba(0, 0, 0, 0.73);
}


/* Header section */

.header-wrapper {
    text-align: justify;
    color: #fff;
    margin: 49px 147px 0 159px;
}

.header-wrapper:after {
    content: '';
    display: inline-block;
    width: 100%;
    height: 0;
    font-size: 0;
    line-height: 0;
}

.header-wrapper *,
.contacts * {
    display: inline-block;
    text-decoration: none;
    list-style-type: none;
}

.company-name {
    text-transform: uppercase;
}

a.logo::before {
    display: block;
    width: 44px;
    content: '';
    background-image: url(../img/logo.png);
    height: 46px;
    float: left;
    fill: rgb(255, 255, 255);
}

a.logo:hover .sub {
    color: rgba(242, 101, 34, 255);
}

a.logo:hover::before {
    background-image: url(../img/logo-hover.png);
}

.sub {
    color: #fff;
    text-decoration: none;
    padding-left: 15px;
}

.sub:nth-child(1) {
    font-size: 29pt;
    line-height: 13pt;
    display: flex;
}

.sub:nth-child(2) {
    font-size: 18pt;
}

div.contacts {
    display: inline-block;
    color: rgb(255, 255, 255);
}

.contact-wrapper {
    display: block;
}

.email,
.phone {
    display: block;
    text-align: right;
}


/*
div.contacts ul {
	list-style-type: none;
}
 */


/* Main section */


/* main {
	width: 1366px;
	margin: 0 auto;
} */

section::after {
    float: unset;
}

.image-plate {
    float: left;
    margin-top: 20px;
}

.image-plate:first-child {
    margin-left: 154px;
}

.image-plate:nth-child(even) {
    margin-right: 64px;
    margin-left: 64px;
}

.image-plate:last-child {
    margin-right: 148px;
}

.image-plate img {
    border-width: 3px 2px 2px 3px;
    border-image-source: linear-gradient(180deg, rgb(255, 255, 255), rgb(0, 0, 0));
    border-image-slice: 1;
    border-style: solid;
    width: 307px;
    height: 200px;
}

.image-plate a {
    text-decoration: none;
}

a:hover figcaption {
    color: rgba(242, 101, 34, 255);
}

figcaption {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 32px;
    font-size: 18pt;
    color: rgb(255, 255, 255);
}


/* a:hover figcaption .price {
	display: block;
	position: relative;
	top: -80px;
}

a:hover figcaption .details {
	margin-top: -27px;
}

.price {
	display: none;
} */


/* Footer section */

.footer {
    font-size: 12px;
    text-align: center;
    margin-top: 61px;
    color: rgb(255, 255, 255);
}